# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep
vendor

# output binary files
/amod
/repair

# docker-related files
DOCKER/amod
DOCKER/tendermint
/docker-compose.yml

# circleci-related files
.circleci/DOCKER_amocli/amocli
.circleci/DOCKER_amocli/test_script

# IDE- or OS-related garbages
.DS_Storeg
# vim
.*.sw*
tags
TAGS
# GoLand
.idea/

# temp files
*.tmp
testdata/
testaddr.sh
*.tar.gz
